.btn {
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.btn--small {
  padding: 10px 20px;
  font-size: 16px;
}
.btn--large {
  padding: 15px 30px;
  font-size: 18px;
}
.btn--primary {
  background: #1db954;
}
.btn--secondary {
  background: #444;
}